!!! 5
//if lt IE 7
  html.no-js.lt-ie9.lt-ie8.lt-ie7
//if IE 7
  html.no-js.lt-ie9.lt-ie8
//if IE 8
  html.no-js.lt-ie9
//if gt IE 8
html.no-js
  // <![endif]
  head
    meta(charset='utf-8')
    meta(content='IE=edge', http-equiv='X-UA-Compatible')
    title
    meta(content='', name='description')
    meta(content='width=device-width', name='viewport')
    link(href='bower_components/pure/pure.css', rel='stylesheet')
    link(href='bower_components/nvd3/nv.d3.css', rel='stylesheet')
    link(href='styles/main.css', rel='stylesheet')

  body(ng-app='likevisuApp')
    //if lt IE 7
      p.browsehappy
        | You are using an
        strong outdated
        | browser. Please
        a(href='http://browsehappy.com/') upgrade your browser
        | to improve your experience.
    //if lt IE 9
      script(src='bower_components/es5-shim/es5-shim.js')
      script(src='bower_components/json3/lib/json3.min.js')
    .container(ng-view='')

    script(src='bower_components/angular/angular.js')
    script(src='bower_components/angular-route/angular-route.js')
    script(src='bower_components/d3/d3.js')
    script(src='bower_components/nvd3/nv.d3.js')
    script(src='bower_components/colorbrewer/colorbrewer.js')

    script(src='scripts/app.js')
    script(src='scripts/controllers/main.js')
    script(src='scripts/directives/top_chart.js')
    script(src='scripts/directives/line_chart.js')
    script(src='scripts/directives/calendar.js')

    script(src='//localhost:35729/livereload.js')
