diff-chart(data='diffs', class='with-transitions')

line-chart(data='commits_evolution')
line-chart(data='authors_evolution')

top-chart(data='top_authors_by_lines')
top-chart(data='top_authors_by_commits')

calendar(data='commits_by_date')
