.header
  %ul.nav.nav-pills.pull-right
    %li.active
      %a{href: "#"} Home
    %li
      %a{href: "#"} About
    %li
      %a{href: "#"} Contact
  %h3.text-muted angular fullstack update
.jumbotron
  %h1 'Allo, 'Allo!
  %p.lead Always a pleasure scaffolding your apps.
  %p
    %a.btn.btn-lg.btn-success{href: "#"} Splendid!
.row.marketing
  %div{"ng-repeat" => "thing in awesomeThings"}
    %h4
      {{thing.name}}
    %p
      {{thing.info}}
.footer
  %p ♥ from the Yeoman team